<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to 'Ask a question', new_question_path %>
<%#= link_to "Write a blog", blog_path %>

<hr>
<h2>The latest blog posts<h3>
  <% Blog.last(3).reverse_each do |blog| %>
    <h3><%= blog.title %><h3>
    <%= blog.body.html_safe %>
    <hr>

  <% end %>

  <!-- <div class="container">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div> -->
