
<h3>Add an answer</h3>
<div class='form-group'>
<%= form_with(model: [@question, @question.answers.build]) do |f| %>
  <%= f.label :content %>
  <br>
  <%= f.trix_editor :content, cols: 120, rows: 10, class: 'trix-content' %>
  <br>
  <%= f.submit %>
<% end %>
