
<h3>Add an answer !!!!!</h3>
<%= form_for :answer, url: question_answer_path, method: :patch do |f| %>

  <%= f.label :content %>
  <br>
  <%= f.trix_editor :content, class: 'trix-content' %>
  <br>
  <%= f.submit %>
<% end %>
