<h1>Tags#index</h1>
<p>Find me in app/views/tags/index.html.erb</p>

<br>


<% @question_tag_array.each do |tag| %>
    <strong> <%= tag %> </strong>
    <br>
   <% question_tags = @questions.where(tag1: tag) %>
       <%= pluralize(question_tags.count, 'question') %> 
        <% question_tags.each do |t| %>
         <li><%= link_to t.title, question_path(t) %></li>
         <br>
      <% end %>
    <% end %>
