/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require trix

 */



// Custom bootstrap variables must be set or imported *before* bootstrap.*/
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  font-family: 'Lato', sans-serif;
  // border: 1px dotted #ccc;
}

// colors burgundy #814552 green #424932

nav {
  line-height: 42px;
  background-color: #424932;
  padding: 5px 0px;
}

h3 {
  margin-bottom: 30px;
  color: #814552;
  margin-top: 20px;
}

nav a {
  padding-right: 10px;
  color: #fff;
}

nav a:hover {
  color: #f37f5a;
}

.logo img {
  width: 85%;
  margin: 0 auto;
}

nav input, nav button {
  margin-top: 5px;
}

nav input[type="text"] {
  background-color: #525a3f;
  border: none;
  border-radius: 5px;
  padding: 0px 10px;
  color: #fff;
  width:100%;
  box-sizing:border-box;
  display: block;
}

nav .fa {
  margin-right: 16px;
  font-size: 20px;
}

.dash {
  margin: 0px -15px 20px -15px;
  padding: 50px 10px;
  background-color: #814552;
  color: #fff;
}

.dash img, .profile img {
  height: 160px;
  width: 160px;
  border-radius: 100%;
  margin-bottom: 20px;
}

.tags i {
  margin-right: 10px;
}

.dash a {
  color: #f37f5a;
}

.btn-secondary, .btn-primary {
    color: #fff !important;
    background-color: #f37f5a;
    border-color: #f37f5a;
  }

.btn-secondary:hover, .btn-primary:hover {
  background-color: #424933;
  border-color: #424933;
  color: #fff;
}

.btn-secondary a, .btn-primary a {
  padding: 0px;
  color: #fff;
  text-decoration: none;
}

.tab-pane {
  padding: 20px;
}

.tab-pane .ans_row {
  background-color: #f5f5f5;
  padding: 20px 0px 15px 0px;
}

.thumb img {
  height: 100px;
  width: 100px;
  background-color: #ccc;
  display: block;
  border-radius: 100%;
  margin: 0 auto;
}

em.bio {
  margin: 10px 0px;
  display: block;
}

a.prof_info {
  margin-bottom: 10px;
}

.user_info .fa {
  float: left;
  margin-top: 3px;
}


.content {
  padding: 40px 20px 40px 20px;
}

.thumb-index {
  height: 100px;
  width: 100px;
  background-color: #ccc;
  display: block;
  border-radius: 100%;
  margin: 0 auto;
}

.ans_list {
  list-style-type: none;
}

ul.ans_list li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
}

.ans_num {
  font-size: 30px;
  background-color: #CDC;
  border-radius: 7px;
  color: #51593f;
  padding: 10px 16px;
}

.answer-box {
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 15px;
}

.answer-box .thumb img{
  height: 60px;
  width: 60px;
}

.admin_block {
  background-color: #CDC;
  color: #000;
  margin-bottom: 20px;
  padding: 20px;
}

.blog_post {
  border-bottom: 1px solid #c3c3c3;
  padding-bottom: 10px;
  margin: 10px 0px;
}

.read_more {
  display: block;
  margin-top: 20px;
}

.recent_blogs img {
  height: 115px;
  width: 115px;
  padding: 10px;
  border-radius: 5px;
}

.up, .fa-thumbs-up {
  color: #424932;
}
.dwn, .fa-thumbs-down {
  color: #814552;
}

.answer-box textarea {
  width: 100%;
}

.login {
  margin: 0 auto;
  color: #fff;
  background: #4249338c;
  padding: 20px;
  border-radius: 15px;
}

.login a {
  color: #f37f5a;
}

a.user_qb {
  display: block;
  min-height: 26px;
  background: #f5f5f5;
  margin-top: 7px;
  padding: 5px;
}

/* login video styles */
.video-hero {
	position: relative;
	overflow: hidden;
  height: 100vh;
  margin: 0px -15px;
  background-color: #424932;
}

.video-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	    	background-size: cover;
}

.video-bg video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    	transform: translate(-50%,-50%);
}

.video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none; /* Allows right click menu on the video */
  background: #8145524f;
	// background: rgba(0,0,0,0.5); /* You can play with the opacity */
}

.video-hero--content {
	position: relative;
  margin-top: 155px;
	// text-align: center;
}

.video-hero--content input {
  width:100%;
  border: none;
  border-radius: 5px;
  color: #000;
  opacity: .9;
}

.video-hero--content input[type="submit"] {
  opacity: 1;
  background-color: #f37e59;
  margin-top: 20px;
  color: #fff;
}

/* Hide Native iOS controls*/
.video-bg video::-webkit-media-controls {
  display: none !important;
}

#new-question-modal {
  color: black;
}

#new-blog-modal {
  color: black;
}

#edit-question-modal {
  color: black;
}

#edit-blog-modal {
  color: black;
}
